/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 100%;
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

.hlavicka {
    color: #25133d;
}

.hlavicka .logo {
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.hlavicka .vlastnosti {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hlavicka .vlastnosti a {
    padding: 10px 15px;
    text-decoration: none;
    color: #25133d;
}

.hlavicka .vlastnosti a:hover {
    background-color: #48418e;
    color: white;
}

.banner {
    background: navy url(images/pozadi.jpg);
    background-size: cover;
    color: white;
    padding-top: 15px;
    height: 680px;
    position: relative;
}

.banner h1 {
    font-size: 17vw;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

.banner p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 78%;
}

.banner .tlacitka {
    padding: 0;
    margin: 30px auto;
    width: 200px;
}

.banner .tlacitka li {
    list-style: none;
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
    padding: 12px;
    margin: 20px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}

.banner .tlacitka a {
    color: white;
    text-decoration: none;
    padding: 12px 0;
}

.banner .tlacitka li:hover {
    background-color: #48418e;
}

.banner .telefon {
    width: 304px;
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.obsah {
    padding: 30px;
}

.obsah .sloupec {
    text-align: center;
}

.obsah h2 {
    color: #48418e;
    margin: 0;
}

.obsah p {
    color: #25133d;
    padding: 15px;
    margin: 0;
}

.paticka {
    background-color: #48418e;
    color: whitesmoke;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 460px) {
    .hlavicka .logo {
        padding: 10px 15px;
        text-align: left;
    }

    .hlavicka .vlastnosti {
        flex-direction: row;
    }

    .banner {
        height: 700px;
    }

    .banner h1 {
        font-size: 70px;
    }

    .banner p {
        font-size: 28px;
    }

    .banner .tlacitka {
        display: flex;
        justify-content: center;
    }

    .banner .tlacitka li {
        flex: 1 0 90%;
        margin: 10px;
    }

    .banner .telefon {
        width: 350px;
        height: 350px;
    }

    .obsah p {
        margin: 0 auto;
        text-align: center;
        max-width: 70%;
    }
}

@media screen and (min-width: 560px) {
    .banner {
        height: 600px;
    }

    .banner .tlacitka {
        margin: 30px;
        flex-direction: column;
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
}
@media screen and (min-width: 670px) {
    .hlavicka {
        display: flex;
    }

    .hlavicka .logo {
        padding: 15px 30px;
    }

    .hlavicka .vlastnosti a {
        padding: 15px 30px;
    }

    .banner {
        height: auto;
        padding: 30px;
    }

    .banner h1 {
        margin: 0 30px;
    }

    .banner p {
        text-align: left;
        margin: 0;
        padding: 40px 0;
        width: 40%;
    }

    .banner .tlacitka {
        position: static;
        margin: 30px 0;
        justify-content: left;
    }

    .banner .tlacitka li {
        margin-left: 0; 
    }

    .banner .telefon {
        width: auto;
        height: auto;
    }
}

@media screen and (min-width: 820px) {
    .obal {
        max-width: 960px;
    }

    .banner h1 {
        margin: 0;
        text-align: left;
    }

    .banner p {
        width: 37%;
        padding: 40px 0;
    }

    .banner .tlacitka {
        flex-direction: row;
    }

    .banner .tlacitka li {
        margin-right: 20px; 
    }

    .obsah {
        display: flex;
    }

    .obsah p {
        max-width: 100%;
    }
}
